version: "3.9"

services:

  api:
    build: .
    container_name: task-api
    ports:
      - "4000:4000"
    env_file:
      - .env
    depends_on:
      - mongo
    restart: always


  mongo:
    image: mongo:6
    container_name: task-mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db
    restart: always


volumes:
  mongo_data:
